@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: black;
  color: white;
  overflow-x: hidden; /* prevent sideways scrolling on mobile */
}

.scary-title {
  font-family: "Nosifer", cursive;
  font-size: 4rem;
  color: #cc0000;
  text-shadow: 0 0 8px darkred, 0 0 15px crimson, 0 0 30px #8b0000;
  animation: flicker 1.5s infinite alternate, shake 0.3s infinite;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 5vh;
  animation: fade-in 5s forwards;
  word-wrap: break-word; /* prevent overflow on long titles */
}

.call-image {
  max-width: 90%;
  max-height: 60vh; /* keep image inside mobile screen */
  height: auto;
  animation: fade-in 10s forwards;
}

/* === Animations === */
@keyframes subtle-glitch {
  0% {
    transform: translate(0, 0) scale(1);
    filter: hue-rotate(0deg);
  }
  25% {
    transform: translate(-0.5px, 0.5px) scale(1.005);
    filter: hue-rotate(1deg);
  }
  50% {
    transform: translate(0.5px, -0.5px) scale(1);
    filter: hu;
  }
}
